<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title></title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
	  	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

      <!-- site icon -->   <style>
	  {% include 'font-awesome_1.min.css' %} 
	  {% include 'css/bootstrap.min.css' %} 
	  {% include 'style.css' %} 
	  {% include 'css/responsive.css' %} 
	  {% include 'css/colors.css' %} 
	  {% include 'css/bootstrap-select.css' %} 
	  {% include 'css/perfect-scrollbar.css' %} 
	  {% include 'css/custom.css' %} 
	  {% include 'css/aa.css' %} 
	  
	  </style>
      <link rel="icon" href="static/images/fevicon.png" type="image/png" />
      <!-- bootstrap css -->
      <link rel="stylesheet" href="css/bootstrap.min.css" />
      <!-- site css -->
      <link rel="stylesheet" href="style.css" />
      <!-- responsive css -->
      <link rel="stylesheet" href="css/responsive.css" />
      <!-- color css -->
      <link rel="stylesheet" href="css/colors.css" />
      <!-- select bootstrap -->
      <link rel="stylesheet" href="css/bootstrap-select.css" />
      <!-- scrollbar css -->
      <link rel="stylesheet" href="css/perfect-scrollbar.css" />
      <!-- custom css -->
      <link rel="stylesheet" href="css/custom.css" />
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>
    <body class="dashboard dashboard_1">
      <div class="full_container">
         <div class="inner_container">
            <!-- Sidebar  -->
			
			
			 
			 {% include "include/bank_head.html" %}
   
            <!-- end sidebar -->
            <!-- right content -->
            <div id="content">
               <!-- topbar -->
               <div class="topbar">
                  <nav class="navbar navbar-expand-lg navbar-light">
                     <div class="full">
                        <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars"></i></button>
                        <div class="logo_section">
                           <a href="#"><img class="img-responsive" src="static/images/logo/logo_black.png" alt="#" /></a>
                        </div>
                        <div class="right_topbar">
                           <div class="icon_info">
                            
                              <ul class="user_profile_dd">
                                 <li>
                                    <a class="dropdown-toggle" data-toggle="dropdown"><img class="img-responsive rounded-circle" src="static/upload/{{ session['pic'] }}" alt="#" /><span class="name_user">{{ session['bank'] }}</span></a>
                                    <div class="dropdown-menu">
                                       <a class="dropdown-item" href="/bank_home">Home</a>
                                        <a class="dropdown-item" href="/"><span>Log Out</span> <i class="fa fa-sign-out"></i></a>
                                    </div>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </nav>
               </div>
               <!-- end topbar -->
               <!-- dashboard inner -->
                   <div class="midde_cont">
                  <div class="container-fluid">
                     <div class="row column_title">
                        <div class="col-md-12">
                           <div class="page_title">
                              <h2>Bank Home</h2>
                           </div>
                        </div>
                     </div>
                     <!-- row -->
                     <div class="row column4 graph">
                        <!-- Gallery section -->
                        <div class="col-md-12">
                          <div class="white_shd full margin_bottom_30">
                              <div class="full graph_head">
                                 <div class="heading1 margin_0">
                                    <h2>TRANSACTION DETAILS</h2>
                                 </div>
                              </div>
                             
                              <form name="form1" method="post" action="">
 <div class="table_section padding_infor_info">
                                 <div class="table-responsive-sm">
                                    <table class="table table-dark table-striped">
                                       <thead>
  <tr>
    <td>User</td>
    <td>Bank</td>
    <td>Amount</td>
    <td>Aadar</td>
    <td>Pan</td>
    <td>Date</td>
    <td>Process</td>
    <td>Account</td>
    <td>Status</td>
   
 
   </tr>   </thead>
                                       <tbody>
  {% for row in items %}
  <tr> {% for d in row %}
    <td class="tdsh">{{ d }}</td>
    {% endfor %}
	 
	 </tr>
  {% endfor %}
 </tbody>
                                    </table>
                                 </div>
                              
</div>
                            </form>
                           </div>
                        </div>
                     </div>
                  <!-- footer -->
                  <div class="container-fluid">
                     <div class="footer">
                        <p>All rights reserved.<br><br>
                           Distributed By: <a href="#">Security intrusion deection</a>
                        </p>
                     </div>
                  </div>
               </div>
               <!-- end dashboard inner -->
            </div>
         </div>
      </div>
      <!-- jQuery -->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <!-- wow animation -->
      <script src="js/animate.js"></script>
      <!-- select country -->
      <script src="js/bootstrap-select.js"></script>
       <script>
	    {% include 'js/jquery.min.js' %} 
	    {% include 'js/popper.min.js' %} 
	    {% include 'js/bootstrap.min.js' %} 
	    {% include 'js/animate.js' %} 
	    {% include 'js/bootstrap-select.js' %} 
	    {% include 'js/owl.carousel.js' %} 
		
		{% include 'js/Chart.min.js' %} 
	    {% include 'js/Chart.bundle.min.js' %} 
	    {% include 'js/utils.js' %} 
	    {% include 'js/analyser.js' %} 
	    {% include 'js/perfect-scrollbar.min.js' %} 
	    {% include 'js/custom.js' %} 
	    
	  </script>
      <script src="js/owl.carousel.js"></script> 
      <!-- chart js -->
      <script src="js/Chart.min.js"></script>
      <script src="js/Chart.bundle.min.js"></script>
      <script src="js/utils.js"></script>
      <script src="js/analyser.js"></script>
      <!-- nice scrollbar -->
      <script src="js/perfect-scrollbar.min.js"></script>
      <script>
         var ps = new PerfectScrollbar('#sidebar');
      </script>
      <!-- custom js -->
      <script src="js/chart_custom_style1.js"></script>
      <script src="js/custom.js"></script>
   </body>
</html>