<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title></title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
	  	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

      <!-- site icon -->   <style>
	  {% include 'font-awesome_1.min.css' %} 
	  {% include 'css/bootstrap.min.css' %} 
	  {% include 'style.css' %} 
	  {% include 'css/responsive.css' %} 
	  {% include 'css/colors.css' %} 
	  {% include 'css/bootstrap-select.css' %} 
	  {% include 'css/perfect-scrollbar.css' %} 
	  {% include 'css/custom.css' %} 
	  {% include 'css/aa.css' %} 
	  
	  </style>
      <link rel="icon" href="static/images/fevicon.png" type="image/png" />
      <!-- bootstrap css -->
      <link rel="stylesheet" href="css/bootstrap.min.css" />
      <!-- site css -->
      <link rel="stylesheet" href="style.css" />
      <!-- responsive css -->
      <link rel="stylesheet" href="css/responsive.css" />
      <!-- color css -->
      <link rel="stylesheet" href="css/colors.css" />
      <!-- select bootstrap -->
      <link rel="stylesheet" href="css/bootstrap-select.css" />
      <!-- scrollbar css -->
      <link rel="stylesheet" href="css/perfect-scrollbar.css" />
      <!-- custom css -->
      <link rel="stylesheet" href="css/custom.css" />
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>
    <body class="dashboard dashboard_1">
      <div class="full_container">
         <div class="inner_container">
            <!-- Sidebar  -->
			
			
			 
			 {% include "include/user_head.html" %}
   
            <!-- end sidebar -->
            <!-- right content -->
            <div id="content">
               <!-- topbar -->
               <div class="topbar">
                  <nav class="navbar navbar-expand-lg navbar-light">
                     <div class="full">
                        <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars"></i></button>
                        <div class="logo_section">
                           <a href="#"><img class="img-responsive" src="static/images/logo/logo_black.png" alt="#" /></a>
                        </div>
                        <div class="right_topbar">
                           <div class="icon_info">
                            
                              <ul class="user_profile_dd">
                                 <li>
                                    <a class="dropdown-toggle" data-toggle="dropdown"><img class="img-responsive rounded-circle" src="static/upload/{{ session['pic'] }}" alt="#" /><span class="name_user">{{ session['username'] }}</span></a>
                                    <div class="dropdown-menu">
                                       <a class="dropdown-item" href="/user_home">Home</a>
                                       <a class="dropdown-item" href="/user_create_account">Create Account</a>
                                        <a class="dropdown-item" href="/"><span>Log Out</span> <i class="fa fa-sign-out"></i></a>
                                    </div>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </nav>
               </div>
               <!-- end topbar -->
               <!-- dashboard inner -->
                   <div class="midde_cont">
                  <div class="container-fluid">
                     <div class="row column_title">
                        <div class="col-md-12">
                           <div class="page_title">
                              <h2>User Home</h2>
                           </div>
                        </div>
                     </div>
                     <!-- row -->
                     <div class="row column4 graph">
                        <!-- Gallery section -->
                        <div class="col-md-12">
                          <div class="white_shd full margin_bottom_30 ">
                              <div class="full graph_head">
                                 <div class="heading1 margin_0">
                                    <h2>CREATE ACCOUNT</h2>
                                 </div>
                              </div>
                             
                              <form name="form1" method="post"  action="/user_create_account">
							    <fieldset>
							    <table width="100%" border="0">
                                  <tr>
                                    <td width="24%">&nbsp;</td>
                                    <td width="73%"><table width="60%" height="236" align="center">
                                      <tr>
                                        <td width="38%"><h4>Bank</h4></td>
                                        <td width="62%"><div class="field">
                                          <div align="left">
                                              <select name="select" class="btn cur-p btn-dark">
                                                
                                          
		 {% for row in items %}  
          
                                          
                                                <option value="{{ row[0] }}">{{ row[0] }}</option>
                                                
                                          
		   {% endfor %}  
        
                                        
                                              </select>
                                          </div>
                                        </div></td>
                                      </tr>
                                      <tr>
                                        <td><div align="left"><h4>Username</h4></div></td>
                                        <td><div align="left">  
                                            <input name="username"  type="text" class="btn cur-p btn-dark" id="username" value={{ username }}  required=""  readonly=""/> 
                                        </div></td>
                                      </tr>
                                      <tr>
                                        <td><div align="left"><h4>Aadhar No</h4> </div></td>
                                        <td><div align="left">
                                            <input name="aadhar_no" type="text" class="btn cur-p btn-dark" id="aadhar_no" value={{ aadhar_number }}  required=""   readonly=""/>
                                        </div></td>
                                      </tr>
                                      <tr>
                                        <td><div align="left"><h4>PAN No</h4> </div></td>
                                        <td><div align="left">
                                            <input name="pan_no" type="text" id="pan_no" class="btn cur-p btn-dark" value={{ pan_number }}  required=""  readonly="" />
                                        </div></td>
                                      </tr>
                                      <tr>
                                        <td><h4>Opening Balance</h4> </td>
                                        <td><input name="opening_balance" type="text" class="btn cur-p btn-dark" id="opening_balance" value={{ opening_balance }}   required="" /></td>
                                      </tr>
                                      <tr>
                                        <td><div align="left"></div></td>
                                        <td><div align="left"><span class="tp">
                                            <input type="submit" name="btn" class="btn btn-success btn-xs" value="Send" />
                                        </span></div></td>
                                      </tr>
									  <tr>
                                    <td colspan="2">{% if msg %}
                              <div class="alert alert-danger" role="alert">{{ msg }}</div>
                           {% endif %}
						     {% if data %}
                              <div class="alert alert-success" role="alert">{{ data }}</div>
                           {% endif %}</td>
                                    </tr>
                                    </table></td>
                                    <td width="3%">&nbsp;</td>
                                  </tr>
								         
                                </table></td>
                                    <td width="3%">&nbsp;</td>
                                  </tr>
                                </table>
							    </fieldset> 
                              </form>
							  
                           </div>
                        </div>
                     </div>
                  <!-- footer -->
				      
 
        
 
	  
	  
                  <div class="container-fluid">
                     <div class="footer">
                        <p>All rights reserved.<br><br>
                           Distributed By: <a href="#">Security intrusion deection</a>
                        </p>
                     </div>
                  </div>
               </div>
               <!-- end dashboard inner -->
            </div>
         </div>
      </div>
      <!-- jQuery -->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <!-- wow animation -->
      <script src="js/animate.js"></script>
      <!-- select country -->
      <script src="js/bootstrap-select.js"></script>
       <script>
	    {% include 'js/jquery.min.js' %} 
	    {% include 'js/popper.min.js' %} 
	    {% include 'js/bootstrap.min.js' %} 
	    {% include 'js/animate.js' %} 
	    {% include 'js/bootstrap-select.js' %} 
	    {% include 'js/owl.carousel.js' %} 
		
		{% include 'js/Chart.min.js' %} 
	    {% include 'js/Chart.bundle.min.js' %} 
	    {% include 'js/utils.js' %} 
	    {% include 'js/analyser.js' %} 
	    {% include 'js/perfect-scrollbar.min.js' %} 
	    {% include 'js/custom.js' %} 
	    
	  </script>
      <script src="js/owl.carousel.js"></script> 
      <!-- chart js -->
      <script src="js/Chart.min.js"></script>
      <script src="js/Chart.bundle.min.js"></script>
      <script src="js/utils.js"></script>
      <script src="js/analyser.js"></script>
      <!-- nice scrollbar -->
      <script src="js/perfect-scrollbar.min.js"></script>
      <script>
         var ps = new PerfectScrollbar('#sidebar');
      </script>
      <!-- custom js -->
      <script src="js/chart_custom_style1.js"></script>
      <script src="js/custom.js"></script>
   </body>
</html>